<h1>会員一覧</h1>
<% @customer.each do |customer| %>
<table class="table">
  <thead>
    <tr>
      <th> 会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.last_name, admin_customer_path(customer.id) %></td>
      <td><%= link_to customer.first_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted == false %>
          <label>有効</label>
        <% else %>
          <label>退会</label>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>