<% @cart_items.each do |cart_item| %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <%= cart_item.item.name %>
          </td>
          <td></td>
          <td>
            <%= cart_item.amount %>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end %>